body {
  background-color: #99ffff;
}
body {
  margin: 0;
}
div {
  float: left;
}
.header {
  background-color: red;
  width: 100%;
  height: 50px;
}
.navigation {
  background-color: orange;
  width: 20%;
}
.main-content {
  background-color: purple;
  width: 40%;
  padding: 5%;
  height: 300px;
}
.sidebar {
  background-color: yellow;
  width: 30%;
  height: 200px;
}
.footer {
  background-color: pink;
  width: 100%;
}
