body {
  background-color: #99ffff;
}
body {
  margin: 0;
}
h1 {
  font-family: cursive;
}
h2 {
  font-size: 1em;
  text-align: center;
  text-decoration: underline;
}
div {
  float: left;
}
.button {
  background-color: pink;
  color: white;
  padding: 15px 32px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 300px;
  border: 3px solid cyan;
}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.header {
  /*background-color: red;*/
  width: 100%;
  text-align: center;
}
.header img {
  height: 3em;
  display: inline-block;
}
.header h1 {
  display: inline-block;
  font-size: 3em;
}
.ourstory,
.main-content,
.menu {
  text-align: center;
}
.ourstory p,
.main-content p,
.menu p {
  text-align: left;
}
.ourstory {
  background-color: orange;
  width: 25%;
}
.ourstory img {
  display: block;
  height: auto;
  width: auto;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  max-width: 85%;
}
.main-content {
  background-color: purple;
  width: 40%;
  padding: 5%;
  height: auto;
  margin: auto;
}
.main-content h1 {
  text-align: center;
  font-size: 4em;
  font-family: serif;
}
.main-content p {
  text-align: center;
  font-family: serif;
}
.main-content img {
  display: block;
  height: auto;
  width: auto;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  max-width: 95%;
}
.main-content a {
  margin-left: 10px;
  margin-right: 10px;
}
.menu {
  background-color: yellow;
  width: 25%;
  height: 600px;
}
.map {
  float: none;
  width: 600px;
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  min-width: 250px;
}
.map p {
  margin-top: 5px;
  text-align: center;
  font-size: 2em;
  font-family: serif;
}
.family p {
  text-align: center;
  font-family: serif;
}
.family img {
  display: block;
  height: auto;
  width: auto;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  max-width: 95%;
}
.footer {
  background-color: pink;
  width: 100%;
  height: 35px;
  font-family: cursive;
  text-align: center;
  min-width: 700px;
}
.footer a {
  float: right;
}
.footer img {
  display: inline-block;
  margin-left: 10px;
  margin-right: 20px;
}
